In [1]:
import pandas as pd

In [ ]:
import json
import pandas as pd
import os


# Folder where all JSON files are stored i stored
folder_path = "ipl"  # Update if necessary

# List to store all match data
all_matches = []

# Loop through all JSON files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".json"):  # Process only JSON files
        file_path = os.path.join(folder_path, file_name)

        # Load JSON file
        with open(file_path, "r") as file:
            data = json.load(file)


        # Extract match data
        for inning in data["innings"]:
            team = inning["team"]
            for over_details in inning["overs"]:
                over = over_details["over"]
                for delivery in over_details["deliveries"]:
                    all_matches.append({
                        "match_id": file_name.split(".")[0],  # Extract match ID from filename
                        "match_type": data["info"]["match_type"],
                        "team": team,
                        "over": over,
                        "batter": delivery["batter"],
                        "bowler": delivery["bowler"],
                        "non_striker": delivery["non_striker"],
                        "runs_batter": delivery["runs"]["batter"],
                        "runs_extras": delivery["runs"]["extras"],
                        "runs_total": delivery["runs"]["total"],
                    })


# Convert all match data into a single DataFrame
dfipl = pd.DataFrame(all_matches)


# Save to CSV
csv_path = "ipl_match.csv"
dfipl.to_csv(csv_path, index=False)


print(f"✅ CSV file saved at: {csv_path}")

✅ CSV file saved at: ipl_match.csv

In [3]:
dfipl.head()

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
1,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
2,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,4,0,4
3,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
4,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,2,2

In [4]:
dfipl.isnull().sum()

match_id       0
match_type     0
team           0
over           0
batter         0
bowler         0
non_striker    0
runs_batter    0
runs_extras    0
runs_total     0
dtype: int64

In [5]:
dfipl.shape

(264227, 10)

In [6]:
dfipl.head(20)
# so this data is Fine

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
1,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
2,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,4,0,4
3,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
4,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,2,2
5,1082591,T20,Sunrisers Hyderabad,0,S Dhawan,TS Mills,DA Warner,0,0,0
6,1082591,T20,Sunrisers Hyderabad,0,S Dhawan,TS Mills,DA Warner,0,1,1
7,1082591,T20,Sunrisers Hyderabad,1,S Dhawan,A Choudhary,DA Warner,1,0,1
8,1082591,T20,Sunrisers Hyderabad,1,DA Warner,A Choudhary,S Dhawan,4,0,4
9,1082591,T20,Sunrisers Hyderabad,1,DA Warner,A Choudhary,S Dhawan,0,1,1
10,1082591,T20,Sunrisers Hyderabad,1,DA Warner,A Choudhary,S Dhawan,6,0,6
11,1082591,T20,Sunrisers Hyderabad,1,DA Warner,A Choudhary,S Dhawan,0,0,0
12,1082591,T20,Sunrisers Hyderabad,1,MC Henriques,A Choudhary,S Dhawan,0,0,0
13,1082591,T20,Sunrisers Hyderabad,1,MC Henriques,A Choudhary,S Dhawan,4,0,4
14,1082591,T20,Sunrisers Hyderabad,2,S Dhawan,TS Mills,MC Henriques,1,0,1
15,1082591,T20,Sunrisers Hyderabad,2,MC Henriques,TS Mills,S Dhawan,0,0,0
16,1082591,T20,Sunrisers Hyderabad,2,MC Henriques,TS Mills,S Dhawan,0,0,0
17,1082591,T20,Sunrisers Hyderabad,2,MC Henriques,TS Mills,S Dhawan,3,0,3
18,1082591,T20,Sunrisers Hyderabad,2,S Dhawan,TS Mills,MC Henriques,1,0,1
19,1082591,T20,Sunrisers Hyderabad,2,MC Henriques,TS Mills,S Dhawan,1,0,1

In [7]:
# now extarcting the data from the odi

import json
import pandas as pd
import os


# Folder where all JSON files are stored
folder_path = "odi"  # Update if necessary

# List to store all match data
all_matches = []

# Loop through all JSON files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".json"):  # Process only JSON files
        file_path = os.path.join(folder_path, file_name)

        # Load JSON file
        with open(file_path, "r") as file:
            data = json.load(file)


        # Extract match data
        for inning in data["innings"]:
            team = inning["team"]
            for over_details in inning["overs"]:
                over = over_details["over"]
                for delivery in over_details["deliveries"]:
                    all_matches.append({
                        "match_id": file_name.split(".")[0],  # Extract match ID from filename
                        "match_type": data["info"]["match_type"],
                        "team": team,
                        "over": over,
                        "batter": delivery["batter"],
                        "bowler": delivery["bowler"],
                        "non_striker": delivery["non_striker"],
                        "runs_batter": delivery["runs"]["batter"],
                        "runs_extras": delivery["runs"]["extras"],
                        "runs_total": delivery["runs"]["total"],
                    })


# Convert all match data into a single DataFrame
dfodi = pd.DataFrame(all_matches)


# Save to CSV
csv_path = "odi_match.csv"
dfodi.to_csv(csv_path, index=False)


print(f"✅ CSV file saved at: {csv_path}")

✅ CSV file saved at: odi_match.csv

In [8]:
dfodi.isnull().sum()

match_id       0
match_type     0
team           0
over           0
batter         0
bowler         0
non_striker    0
runs_batter    0
runs_extras    0
runs_total     0
dtype: int64

In [9]:
dfodi.shape

(1547846, 10)

In [10]:
dfodi.head(20)
# so this data is fine and ready to go

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
1,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
2,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
3,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
4,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,1,1
5,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
6,1000887,ODI,Australia,0,DA Warner,Mohammad Amir,TM Head,0,0,0
7,1000887,ODI,Australia,1,TM Head,Mohammad Hafeez,DA Warner,0,0,0
8,1000887,ODI,Australia,1,TM Head,Mohammad Hafeez,DA Warner,1,0,1
9,1000887,ODI,Australia,1,DA Warner,Mohammad Hafeez,TM Head,0,0,0
10,1000887,ODI,Australia,1,DA Warner,Mohammad Hafeez,TM Head,0,0,0
11,1000887,ODI,Australia,1,DA Warner,Mohammad Hafeez,TM Head,0,0,0
12,1000887,ODI,Australia,1,DA Warner,Mohammad Hafeez,TM Head,0,0,0
13,1000887,ODI,Australia,2,TM Head,Mohammad Amir,DA Warner,1,0,1
14,1000887,ODI,Australia,2,DA Warner,Mohammad Amir,TM Head,0,0,0
15,1000887,ODI,Australia,2,DA Warner,Mohammad Amir,TM Head,1,0,1
16,1000887,ODI,Australia,2,TM Head,Mohammad Amir,DA Warner,1,0,1
17,1000887,ODI,Australia,2,DA Warner,Mohammad Amir,TM Head,0,0,0
18,1000887,ODI,Australia,2,DA Warner,Mohammad Amir,TM Head,0,0,0
19,1000887,ODI,Australia,3,TM Head,Mohammad Hafeez,DA Warner,0,0,0

In [11]:
# now extarcting the data from the t_20

import json
import pandas as pd
import os


# Folder where all JSON files are stored
folder_path = "t_20"  # Update if necessary

# List to store all match data
all_matches = []

# Loop through all JSON files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".json"):  # Process only JSON files
        file_path = os.path.join(folder_path, file_name)

        # Load JSON file
        with open(file_path, "r") as file:
            data = json.load(file)


        # Extract match data
        for inning in data["innings"]:
            team = inning["team"]
            for over_details in inning["overs"]:
                over = over_details["over"]
                for delivery in over_details["deliveries"]:
                    all_matches.append({
                        "match_id": file_name.split(".")[0],  # Extract match ID from filename
                        "match_type": data["info"]["match_type"],
                        "team": team,
                        "over": over,
                        "batter": delivery["batter"],
                        "bowler": delivery["bowler"],
                        "non_striker": delivery["non_striker"],
                        "runs_batter": delivery["runs"]["batter"],
                        "runs_extras": delivery["runs"]["extras"],
                        "runs_total": delivery["runs"]["total"],
                    })


# Convert all match data into a single DataFrame
dft_20 = pd.DataFrame(all_matches)


# Save to CSV
csv_path = "t_20_match.csv"
dft_20.to_csv(csv_path, index=False)


print(f"✅ CSV file saved at: {csv_path}")

✅ CSV file saved at: t_20_match.csv

In [12]:
dft_20

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,0,0,0
1,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,0,0,0
2,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,1,0,1
3,1001349,T20,Australia,0,M Klinger,SL Malinga,AJ Finch,2,0,2
4,1001349,T20,Australia,0,M Klinger,SL Malinga,AJ Finch,0,0,0
...,...,...,...,...,...,...,...,...,...,...
917844,995469,T20,Australia,17,TM Head,SS Pathirana,PM Nevill,1,0,1
917845,995469,T20,Australia,17,PM Nevill,SS Pathirana,TM Head,3,0,3
917846,995469,T20,Australia,17,TM Head,SS Pathirana,PM Nevill,0,0,0
917847,995469,T20,Australia,17,TM Head,SS Pathirana,PM Nevill,0,0,0
917848,995469,T20,Australia,17,TM Head,SS Pathirana,PM Nevill,6,0,6

In [13]:
dft_20.isnull().sum()

match_id       0
match_type     0
team           0
over           0
batter         0
bowler         0
non_striker    0
runs_batter    0
runs_extras    0
runs_total     0
dtype: int64

In [14]:
dft_20.shape

(917849, 10)

In [15]:
dft_20.head(20)
# so this file good to go

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,0,0,0
1,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,0,0,0
2,1001349,T20,Australia,0,AJ Finch,SL Malinga,M Klinger,1,0,1
3,1001349,T20,Australia,0,M Klinger,SL Malinga,AJ Finch,2,0,2
4,1001349,T20,Australia,0,M Klinger,SL Malinga,AJ Finch,0,0,0
5,1001349,T20,Australia,0,M Klinger,SL Malinga,AJ Finch,3,0,3
6,1001349,T20,Australia,1,M Klinger,KMDN Kulasekara,AJ Finch,0,0,0
7,1001349,T20,Australia,1,M Klinger,KMDN Kulasekara,AJ Finch,1,0,1
8,1001349,T20,Australia,1,AJ Finch,KMDN Kulasekara,M Klinger,0,0,0
9,1001349,T20,Australia,1,AJ Finch,KMDN Kulasekara,M Klinger,0,0,0
10,1001349,T20,Australia,1,AJ Finch,KMDN Kulasekara,M Klinger,4,0,4
11,1001349,T20,Australia,1,AJ Finch,KMDN Kulasekara,M Klinger,2,0,2
12,1001349,T20,Australia,2,M Klinger,JRMVB Sanjaya,AJ Finch,1,0,1
13,1001349,T20,Australia,2,AJ Finch,JRMVB Sanjaya,M Klinger,1,0,1
14,1001349,T20,Australia,2,M Klinger,JRMVB Sanjaya,AJ Finch,0,0,0
15,1001349,T20,Australia,2,M Klinger,JRMVB Sanjaya,AJ Finch,0,0,0
16,1001349,T20,Australia,2,M Klinger,JRMVB Sanjaya,AJ Finch,4,0,4
17,1001349,T20,Australia,2,M Klinger,JRMVB Sanjaya,AJ Finch,0,0,0
18,1001349,T20,Australia,3,AJ Finch,KMDN Kulasekara,M Klinger,0,0,0
19,1001349,T20,Australia,3,AJ Finch,KMDN Kulasekara,M Klinger,1,0,1

In [16]:
# now extarcting the data from the test

# now extarcting the data from the t_20

import json
import pandas as pd
import os


# Folder where all JSON files are stored
folder_path = "test"  # Update if necessary

# List to store all match data
all_matches = []

# Loop through all JSON files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".json"):  # Process only JSON files
        file_path = os.path.join(folder_path, file_name)

        # Load JSON file
        with open(file_path, "r") as file:
            data = json.load(file)


        # Extract match data
        for inning in data["innings"]:
            team = inning["team"]
            for over_details in inning["overs"]:
                over = over_details["over"]
                for delivery in over_details["deliveries"]:
                    all_matches.append({
                        "match_id": file_name.split(".")[0],  # Extract match ID from filename
                        "match_type": data["info"]["match_type"],
                        "team": team,
                        "over": over,
                        "batter": delivery["batter"],
                        "bowler": delivery["bowler"],
                        "non_striker": delivery["non_striker"],
                        "runs_batter": delivery["runs"]["batter"],
                        "runs_extras": delivery["runs"]["extras"],
                        "runs_total": delivery["runs"]["total"],
                    })


# Convert all match data into a single DataFrame
dftest = pd.DataFrame(all_matches)


# Save to CSV
csv_path = "test_match.csv"
dftest.to_csv(csv_path, index=False)


print(f"✅ CSV file saved at: {csv_path}")

✅ CSV file saved at: test_match.csv

In [17]:
dftest.head()

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1000851,Test,South Africa,0,SC Cook,MA Starc,D Elgar,0,0,0
1,1000851,Test,South Africa,0,SC Cook,MA Starc,D Elgar,0,0,0
2,1000851,Test,South Africa,0,SC Cook,MA Starc,D Elgar,0,0,0
3,1000851,Test,South Africa,0,SC Cook,MA Starc,D Elgar,0,0,0
4,1000851,Test,South Africa,0,HM Amla,MA Starc,D Elgar,0,0,0

In [18]:
dftest.shape

(1669269, 10)

In [19]:
# now am we are goona connect with sql bysqlalchemy

In [20]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\prem kumar\appdata\local\programs\python\python313\lib\site-packages (2.0.40)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: greenlet>=1 in c:\users\prem kumar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\prem kumar\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)

In [21]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\prem kumar\appdata\local\programs\python\python313\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:

from sqlalchemy import create_engine
from pandas.io import sql

In [23]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\prem kumar\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

In [24]:
import pymysql

In [3]:
import pymysql

# Establish connection to TiDB
try:
    conn_tidb = pymysql.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        user="7Z3SRE1xmB2xsHv.root",
        password="8yGFYp6wEXLRffbI",
        database="PROJECT_2",
        ssl={"fake_flag_to_enable_tls": True}  # Ensure SSL is properly enabled if required
    )
    cursor_tidb = conn_tidb.cursor()
    print("TiDB connection established successfully!")
except pymysql.MySQLError as e:
    print("Error while connecting to TiDB:", e)

TiDB connection established successfully!

In [9]:

import sqlalchemy
from sqlalchemy import create_engine

In [10]:
from sqlalchemy import create_engine

# SQLAlchemy-compatible connection string
engine = create_engine(
    "mysql+pymysql://7Z3SRE1xmB2xsHv.root:8yGFYp6wEXLRffbI@gateway01.ap-southeast-1.prod.aws.tidbcloud.com/PROJECT_2",
    connect_args={"ssl": {"fake_flag_to_enable_tls": True}}  # Ensure SSL is properly enabled if required
)

In [11]:
engine = create_engine(
    "mysql+pymysql://7Z3SRE1xmB2xsHv.root:8yGFYp6wEXLRffbI@gateway01.ap-southeast-1.prod.aws.tidbcloud.com/PROJECT_1",
    connect_args={
        "ssl": {
            "ca": "/path/to/ca.pem",
            "cert": "/path/to/client-cert.pem",
            "key": "/path/to/client-key.pem"
        }
    }
)

In [247]:
import os
print(os.path.exists("isrgrootx1 (1).pem"))  # Replace `/path/to/ca-cert.pem` with the actual path

False

In [264]:
dfipl

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
1,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
2,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,4,0,4
3,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
4,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,2,2
...,...,...,...,...,...,...,...,...,...,...
264222,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,2,0,2
264223,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,0,0,0
264224,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,0,1,1
264225,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,Iqbal Abdulla,1,0,1
264226,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,4,0,4

In [283]:
!pip install mysql-connector-python
!pip install mysql

Requirement already satisfied: mysql-connector-python in c:\users\prem kumar\appdata\local\programs\python\python312\lib\site-packages (9.2.0)
Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Requirement already satisfied: mysqlclient in c:\users\prem kumar\appdata\local\programs\python\python312\lib\site-packages (from mysql) (2.2.7)
Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Installing collected packages: mysql
Successfully installed mysql-0.0.3

In [18]:
dfipl

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
1,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
2,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,4,0,4
3,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
4,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,2,2
...,...,...,...,...,...,...,...,...,...,...
264222,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,2,0,2
264223,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,0,0,0
264224,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,0,1,1
264225,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,Iqbal Abdulla,1,0,1
264226,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,4,0,4

In [19]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://7Z3SRE1xmB2xsHv.root:593g7sDIAPe2H7Og@gateway01.ap-southeast-1.prod.aws.tidbcloud.com/PROJECT_1",
    connect_args={
        "ssl": {
            "ca": "/path/to/ca.pem",          # Path to Certificate Authority file
            "cert": "/path/to/client-cert.pem",  # Path to client certificate
            "key": "/path/to/client-key.pem"    # Path to private key
        }
    }
)

In [31]:
import pandas as pd

dfipl = pd.read_csv("ipl_match.csv")  # Verify the path to the file
print(dfipl.head())

   match_id match_type                 team  over     batter    bowler  \
0   1082591        T20  Sunrisers Hyderabad     0  DA Warner  TS Mills
1   1082591        T20  Sunrisers Hyderabad     0  DA Warner  TS Mills
2   1082591        T20  Sunrisers Hyderabad     0  DA Warner  TS Mills
3   1082591        T20  Sunrisers Hyderabad     0  DA Warner  TS Mills
4   1082591        T20  Sunrisers Hyderabad     0  DA Warner  TS Mills

  non_striker  runs_batter  runs_extras  runs_total
0    S Dhawan            0            0           0
1    S Dhawan            0            0           0
2    S Dhawan            4            0           4
3    S Dhawan            0            0           0
4    S Dhawan            0            2           2

In [36]:
dfipl = pd.DataFrame(all_matches)  # Verify the path to the file

In [37]:
dfipl

,match_id,match_type,team,over,batter,bowler,non_striker,runs_batter,runs_extras,runs_total
0,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
1,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
2,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,4,0,4
3,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,0,0
4,1082591,T20,Sunrisers Hyderabad,0,DA Warner,TS Mills,S Dhawan,0,2,2
...,...,...,...,...,...,...,...,...,...,...
264222,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,2,0,2
264223,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,CJ Jordan,0,0,0
264224,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,0,1,1
264225,981019,T20,Royal Challengers Bangalore,19,Sachin Baby,B Kumar,Iqbal Abdulla,1,0,1
264226,981019,T20,Royal Challengers Bangalore,19,Iqbal Abdulla,B Kumar,Sachin Baby,4,0,4

In [41]:
import os
print(os.path.exists("/path/to/ca.pem"))          # Should return True
print(os.path.exists("/path/to/client-cert.pem"))  # Should return True
print(os.path.exists("/path/to/client-key.pem"))   # Should return True

False
False
False

In [40]:
print("/path/to/ca.pem")
print("/path/to/client-cert.pem")
print("/path/to/client-key.pem")

/path/to/ca.pem
/path/to/client-cert.pem
/path/to/client-key.pem

In [38]:
# Insert DataFrame into SQL table
dfipl.to_sql("games", con=engine, if_exists="replace", index=False)

FileNotFoundError: [Errno 2] No such file or directory

In [45]:
dfipl.to_sql("weather_data", con=engine, if_exists="append", index=False, chunksize=500)

FileNotFoundError: [Errno 2] No such file or directory

In [1]:
import pandas as pd
from sqlalchemy import create_engine


import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'